* {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: #a0a1a5;
  list-style: none;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.padding-10 {
  padding: 10% 0;
}

.margin-5 {
  margin: 5% 0;
}

.margin-10 {
  margin: 10% 0;
}

.request-button {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(#5cc975), to(#40bac4));
  background: linear-gradient(0.25turn, #5cc975, #40bac4);
  border-radius: 33px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.request-button:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(92, 201, 117, 0.8)), to(rgba(64, 186, 196, 0.8)));
  background: linear-gradient(0.25turn, rgba(92, 201, 117, 0.8), rgba(64, 186, 196, 0.8));
}

#close {
  display: none;
}

.logo-image {
  cursor: pointer;
}

.mobile-navigation {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 69, 110, 0.5)), to(rgba(220, 221, 255, 0.9)));
  background: linear-gradient(to bottom, rgba(68, 69, 110, 0.5), rgba(220, 221, 255, 0.9));
}

.mobile-navigation .navigation-box {
  margin: 5% auto;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  padding: 5% 0;
}

.mobile-navigation .navigation-box ul {
  padding: 0;
}

.mobile-navigation .navigation-box .navigation-link {
  color: #2c2e3a;
  padding: 4% 0;
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  * {
    text-align: center;
  }
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5%;
  }
  .mobile-header img {
    max-width: 100%;
  }
  .mobile-header .logo {
    width: 40%;
  }
  .desktop-header {
    display: none;
  }
  .banner {
    background-image: url("../images/image-mockups.png"), url("../images/bg-intro-mobile.svg");
    background-position: 0 -128px, 0 0;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    padding-top: 100%;
  }
  .banner .request-button-div {
    text-align: center;
  }
  .banner .box {
    padding: 0 3%;
  }
  .banner h1 {
    font-weight: 300;
    color: #303247;
    font-size: 2.5em;
    margin-bottom: 5%;
  }
  .banner p {
    font-size: 15px;
  }
  .features {
    background-color: #f4f5f7;
    padding: 10% 0;
  }
  .features h2 {
    color: #303247;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 5%;
  }
  .features .feature-card {
    margin-left: 3%;
    margin-right: 3%;
  }
  .features .feature-card h3 {
    font-weight: 400;
    color: #303247;
    font-size: 1.5em;
  }
  .features .feature-card img {
    margin-top: 5%;
  }
  .article-section {
    background-color: #f4f5f7;
    padding: 7%;
  }
  .article-section h2 {
    color: #303247;
    font-weight: 300;
    font-size: 2em;
  }
  .article-section .article-card {
    border-radius: 5px;
    background-color: white;
    padding: 0 0 3% 0;
    margin-top: 8%;
  }
  .article-section .article-card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .article-section .article-card .article-content {
    padding: 0 2%;
  }
  .article-section .article-card .article-content .small-text {
    font-size: 0.6em;
  }
  .article-section .article-card .article-content h3 {
    font-size: 1em;
    color: #303247;
    font-weight: 200;
    text-align: left;
    margin: 4% 0;
  }
  .article-section .article-card .article-content p {
    text-align: left;
    font-size: 0.9em;
    margin: 4% 0;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2d314e;
    padding: 6% 0;
  }
  footer .logo {
    width: 80%;
    margin: 2% auto;
  }
  footer .footer-request-button-container {
    padding: 10% 0;
    width: 100%;
  }
  footer .footer-request-button-container .request-button {
    width: 80%;
    margin-bottom: 5%;
  }
  footer ul {
    padding: 0;
  }
  footer .list-item {
    padding: 3% 0;
    color: white;
  }
  footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5% 0;
  }
  footer .footer-icons .icon {
    display: inline;
    margin: 0 5%;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
  .request-button-div {
    text-align: left;
  }
  .desktop-header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 150;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1%;
    height: 4em;
  }
  .desktop-header .request-button {
    width: 16%;
  }
  .desktop-header .nav-items {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .desktop-header .nav-items .nav-link {
    padding: 8% 3%;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .desktop-header .nav-items .nav-link:hover {
    color: #303247;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(0.25turn, #5cc975, #40bac4);
  }
  .banner {
    position: relative;
    background-color: #fafafa;
  }
  .banner .hero-image {
    background-image: url(../images/image-mockups.png), url(../images/bg-intro-desktop.svg);
    background-position: 100px -100px, -30px -210px;
    background-size: 100%, 150%;
    background-repeat: no-repeat, no-repeat;
    z-index: 110;
    overflow: visible;
    position: absolute;
    right: 0;
    height: 128%;
    width: 50%;
  }
  .banner .banner-content {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .banner-content .box {
    padding: 24% 20% 16%;
  }
  .banner .banner-content .box h1 {
    font-weight: 300;
    color: #303247;
    font-size: 2.5em;
    margin-bottom: 5%;
    text-align: left;
  }
  .banner .banner-content .box p {
    font-size: 15px;
    text-align: left;
  }
  .banner .banner-content .box .request-button {
    width: 48%;
  }
  .features {
    background-color: #f4f5f7;
    padding: 5% 0;
  }
  .features .container {
    width: 80%;
    margin: 0 auto;
  }
  .features .container .features-heading {
    width: 50%;
  }
  .features .container .features-heading h2 {
    text-align: left;
    color: #303247;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 5%;
  }
  .features .container .features-heading p {
    text-align: left;
  }
  .features .container .features-card-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .features .container .feature-card {
    margin: 10% 2% 0 0;
  }
  .features .container .feature-card h3 {
    font-weight: 400;
    color: #303247;
    font-size: 1.2em;
    margin: 10% 0;
  }
  .features .container .feature-card p {
    font-size: 0.9em;
  }
  .article-section {
    background-color: #fafafa;
    padding: 5% 0;
  }
  .article-section .container {
    width: 80%;
    margin: 0 auto;
  }
  .article-section .container h2 {
    color: #303247;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 5%;
  }
  .article-section .container .article-card-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .article-section .container .article-card-wrap .article-card {
    width: 22%;
    background-color: white;
    border-radius: 5px;
  }
  .article-section .container .article-card-wrap .article-card img {
    width: 100%;
    max-height: 158px;
    border-radius: 5px 5px 0 0;
  }
  .article-section .container .article-card-wrap .article-card .article-content {
    padding: 2% 8% 8%;
  }
  .article-section .container .article-card-wrap .article-card .article-content .small-text {
    font-size: 0.6em;
  }
  .article-section .container .article-card-wrap .article-card .article-content h3 {
    font-size: 1em;
    color: #303247;
    font-weight: 200;
    text-align: left;
    margin: 4% 0;
    cursor: pointer;
  }
  .article-section .container .article-card-wrap .article-card .article-content h3:hover {
    color: #58c78f;
  }
  .article-section .container .article-card-wrap .article-card .article-content p {
    text-align: left;
    font-size: 0.8em;
    margin: 4% 0;
  }
  footer {
    background-color: #2d314e;
    padding: 2% 0;
  }
  footer .container {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .logo-container .logo {
    padding: 20% 0;
  }
  footer .logo-container .footer-icons {
    padding: 20% 0;
  }
  footer .logo-container .footer-icons .icon {
    cursor: pointer;
    margin: 0 1%;
  }
  footer .logo-container .footer-icons .icon path:hover {
    fill: #58c78f;
  }
  footer .footer-nav {
    -webkit-column-count: 2;
            column-count: 2;
    height: 100%;
  }
  footer .footer-nav .list-item {
    padding: 14% 0;
    color: white;
    cursor: pointer;
  }
  footer .footer-nav .list-item:hover {
    color: #58c78f;
  }
  footer .footer-request-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-request-button-container .request-button {
    width: 80%;
    margin: 8% 0;
  }
  footer .footer-request-button-container p {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */