$heading_color: #303247;
$text_color: #a0a1a5;
$gradient: linear-gradient(0.25turn, #5cc975, #40bac4);
* {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: $text_color;
  text-align: center;
  list-style: none;
}

.align-center {
  text-align: center;
}
.padding-10 {
  padding: 10% 0;
}
.margin-5 {
  margin: 5% 0;
}
.margin-10 {
  margin: 10% 0;
}
.request-button {
  width: 40%;
  background: $gradient;
  border-radius: 33px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}
#close{
    display: none;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    img {
      max-width: 100%;
    }
    .logo {
      width: 40%;
    }
  }
  .banner {
    background-image: url("../images/image-mockups.png"),
      url("../images/bg-intro-mobile.svg");
    background-position: 0 -128px, 0 0;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    padding-top: 100%;
    h1 {
      font-weight: 300;
      color: $heading_color;
      font-size: 2.5em;
      margin-bottom: 5%;
    }
    p {
      font-size: 15px;
    }
  }
  .features {
    background-color: #f4f5f7;
    h2 {
      color: $heading_color;
      font-weight: 400;
      font-size: 2.4em;
      margin-bottom: 5%;
    }
    .feature-card {
      margin-left: 3%;
      margin-right: 3%;
      h3 {
        font-weight: 400;
        color: $heading_color;
        font-size: 1.5em;
      }
      img {
        margin-top: 5%;
      }
    }
  }
  .article-section {
    background-color: #f4f5f7;
    padding: 7%;
    h2 {
      color: $heading_color;
      font-weight: 300;
      font-size: 2em;
    }

    .article-card {
      border-radius: 5px;
      background-color: white;
      padding: 0 0 3% 0;
      margin-top: 8%;
      img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
      }
      .article-content {
        padding: 0 2%;
        .small-text {
          font-size: 0.6em;
        }

        h3 {
          font-size: 1em;
          color: $heading_color;
          font-weight: 200;
          text-align: left;
          margin: 4% 0;
        }
        p {
          text-align: left;
          font-size: 0.9em;
          margin: 4% 0;
        }
      }
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d314e;
    padding: 6% 0;
    .logo {
      width: 80%;
    }
    .footer-request-button {
      width: 100%;
    }
    ul {
      padding: 0;
    }
    .list-item {
      padding: 5% 0;
      color: white;
    }
    .footer-icons {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 5% 0;
      .icon {
        display: inline;
        margin: 0 8%;
      }
    }
  }
  .mobile-navigation {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(68, 69, 110, 0.5),
      rgba(220, 221, 255, 0.9)
    );
    .navigation-box {
      margin: 5% auto;
      background-color: white;
      border-radius: 5px;
      width: 80%;
      padding: 5% 0;
      ul {
        padding: 0;
      }
      .navigation-link {
        color: #2c2e3a;
        padding: 4% 0;
        font-size: 1.2em;
      }
    }
  }
}
