* {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  color: #a0a1a5;
  text-align: center;
  list-style: none;
}

.align-center {
  text-align: center;
}

.padding-10 {
  padding: 10% 0;
}

.margin-5 {
  margin: 5% 0;
}

.margin-10 {
  margin: 10% 0;
}

.request-button {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(#5cc975), to(#40bac4));
  background: linear-gradient(0.25turn, #5cc975, #40bac4);
  border-radius: 33px;
  height: 40px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5%;
  }
  header img {
    max-width: 100%;
  }
  header .logo {
    width: 40%;
  }
  .banner {
    background-image: url("../images/image-mockups.png"), url("../images/bg-intro-mobile.svg");
    background-position: 0 -128px, 0 0;
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    padding-top: 100%;
  }
  .banner h1 {
    font-weight: 300;
    color: #303247;
    font-size: 2.5em;
    margin-bottom: 5%;
  }
  .banner p {
    font-size: 15px;
  }
  .features {
    background-color: #f4f5f7;
  }
  .features h2 {
    color: #303247;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 5%;
  }
  .features .feature-card {
    margin-left: 3%;
    margin-right: 3%;
  }
  .features .feature-card h3 {
    font-weight: 400;
    color: #303247;
    font-size: 1.5em;
  }
  .features .feature-card img {
    margin-top: 5%;
  }
  .article-section {
    background-color: #f4f5f7;
    padding: 7%;
  }
  .article-section h2 {
    color: #303247;
    font-weight: 300;
    font-size: 2em;
  }
  .article-section .article-card {
    border-radius: 5px;
    background-color: white;
    padding: 0 0 3% 0;
    margin-top: 8%;
  }
  .article-section .article-card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .article-section .article-card .article-content {
    padding: 0 2%;
  }
  .article-section .article-card .article-content .small-text {
    font-size: 0.6em;
  }
  .article-section .article-card .article-content h3 {
    font-size: 1em;
    color: #303247;
    font-weight: 200;
    text-align: left;
    margin: 4% 0;
  }
  .article-section .article-card .article-content p {
    text-align: left;
    font-size: 0.9em;
    margin: 4% 0;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2d314e;
    padding: 6% 0;
  }
  footer .logo {
    width: 80%;
  }
  footer .footer-request-button {
    width: 100%;
  }
  footer ul {
    padding: 0;
  }
  footer .list-item {
    padding: 5% 0;
    color: white;
  }
  footer .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5% 0;
  }
  footer .footer-icons .icon {
    display: inline;
    margin: 0 8%;
  }
  .mobile-navigation {
    position: absolute;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 69, 110, 0.5)), to(rgba(220, 221, 255, 0.9)));
    background: linear-gradient(to bottom, rgba(68, 69, 110, 0.5), rgba(220, 221, 255, 0.9));
  }
  .mobile-navigation .navigation-box {
    margin: 5% auto;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    padding: 5% 0;
  }
  .mobile-navigation .navigation-box ul {
    padding: 0;
  }
  .mobile-navigation .navigation-box .navigation-link {
    color: #2c2e3a;
    padding: 4% 0;
  }
}
/*# sourceMappingURL=style.css.map */